# ======================
# Variáveis de ambiente
# ======================
.env
.env.*
.env.test

# ============================
# Ambientes virtuais Python
# ============================
venv/
env/
ENV/

# ===============
# Cache do Python
# ===============
__pycache__/
*.py[cod]
*$py.class

# =====================
# Banco de dados local
# =====================
*.sqlite3
*.db

# =============================
# Logs e arquivos temporários
# =============================
*.log
*.pid
*.tmp

# ================
# Arquivos sistema
# ================
.DS_Store
Thumbs.db

# ==================
# Configs de IDE/Dev
# ==================
.vscode/
.idea/

# ========================
# Arquivos de build Python
# ========================
build/
dist/
*.egg-info/

# ================
# Uploads locais
# ================
uploads/
static/uploads/

# ==========================
# Build desktop (Tauri etc)
# ==========================
src-tauri/target/
alpphas_gym_frontend_desktop/
